@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Raleway:wght@300&display=swap');

.navbar.scrolling-navbar {
  transition: background 0.4s ease-in-out, padding 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.navbar-dark {
  box-shadow: none;
}

.top-nav-collapse {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-brand {
  font-family: 'Quicksand', sans-serif;
}

.page-header {
  color: #ffffff !important;
  font-family: 'Quicksand', sans-serif;
}

#subtitle,
.typed-cursor {
  font-size: 44px !important;
  font-weight: 400;
  text-shadow: 0px 0px 20px rgba(19, 19, 19, 0.514);
}

#board:hover {
  background-color: #2a333f;
}