@import "fonts.css";
@import "scrollbar.css";

:root {
    --main-font: "JetBrains Mono";
    --foreground: white;
    --foreground-dimmed: rgba(255, 255, 255, 0.5);
    --accent: #2f66ff;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
}

#sections-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

#home-section {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-margin: 0;
    scroll-padding: 0;*/
}

#home-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: -10px;
}

#home-header {
    color: var(--foreground);
    font-family: var(--main-font), sans-serif;
    font-size: 70px;
    font-weight: bold;
}

#home-description {
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--main-font), sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}

#home-bottom-header {
    color: var(--foreground);
    font-family: var(--main-font), sans-serif;
    font-size: 30px;
    inline-size: 600px;
    overflow-wrap: break-word;
}

#avatar-image {
    width: 200px;
    border: solid var(--foreground) 4px;
}

.section {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-margin: 0;
    scroll-padding: 0;*/
}

.section-header {
    color: var(--foreground);
    text-align: center;
    font-family: var(--main-font), sans-serif;
    font-size: 80px;
    font-weight: bold;
}

.section-description {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-family: var(--main-font), sans-serif;
    font-size: 28px;
    margin-bottom: 35px;
}

.section-bottom-header {
    color: var(--foreground);
    text-align: center;
    font-family: var(--main-font), sans-serif;
    font-size: 35px;
}

.section-images-container {
    display: flex;
}

.section-images-container a img {
    margin: 10px;
    opacity: 65%;
    transition: opacity 200ms;
}

.section-images-container a img:hover {
    opacity: 100%;
}

.section-footer {
    display: flex;
    margin-top: 20px;
    color: var(--foreground);
    opacity: 50%;
    font-family: var(--main-font), sans-serif;
    font-size: 20px;
    text-decoration: none;
    transition: opacity 200ms;
}

.section-footer:hover {
    opacity: 100%;
}

.section-footer img {
    width: 20px;
    margin-right: 10px;
}

#portfolio-cards-container {
    display: flex;
}

.portfolio-card {
    width: 300px;
    height: 400px;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.05);
    border: solid 3px var(--foreground-dimmed);
    transition: transform 250ms, background-color 200ms, border 200ms;
    backdrop-filter: blur(4px);
}

.portfolio-card:hover img {
    opacity: 100%;
}

.portfolio-card:hover {
    transform: translate(0px, -10px);
    background-color: rgba(50, 50, 50, 0.8);
    border: solid 3px var(--foreground);
}

.portfolio-card-image-container {
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.portfolio-card-image {
    width: 300px;
    opacity: 80%;
    transition: opacity 200ms;
}

.portfolio-card-header {
    color: var(--foreground);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: var(--main-font), sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.portfolio-card-description {
    margin: 15px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: var(--main-font), sans-serif;
    font-size: 19px;
}

#discord-image {
    position: relative;
}

#discord-image:hover::after {
    content: "Qewer#8693 on Discord!";
    position: absolute;
    top: 70px;
    left: -50px;
    width: 200px;
    color: #dcdcdc;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px;
    z-index: 1;
    font-family: var(--main-font), sans-serif;
    font-size: 15px;
}
